body{
    height: 100%;
    width: 100%;
    font-family: "Ledger", serif;
    margin: 0px;
}

/* Шапка  */
header{
  background-color: #565656;
  width: 100%;
  height: 150px;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  /* margin-top: 0; */
}

.logo{
  width: 20%;
  display: flex;
  flex-direction: row-reverse;
  padding: 0px 100px;
}


.social-header{
display: flex;
align-items: center;
flex-direction: row;
width: 20%;
justify-content: space-evenly;
}




.text{
  font-family: "Ledger", serif;
  width: 60%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  


  
}

a {
  color: #fff;
  text-decoration: none;
  font-size: 25px;
}

.img-logo{
width: 400px;
height: 200px;
}

.mob-menu {
  background-color: #565656;
  width: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  height: auto;
}






/* Блок 1 */

.o-nas{
    display: flex;
    align-items: center;
    background: #D4D4D4;
}

.o-nas-text{
    width: 50%;
    margin: 0px 0px 0px 314px;
}

.o-nas-heading{
    font-size: 70px;
}

.o-nas-element{
    font-size: 30px;
}

.o-nas-img-arm{
  width: 600px;
}













/* Блок 2 */

.zone{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 1000px;
    background: #565656;
}


.zone-text{
  text-align: center;
    font-size: 40px;
    color: white;
}

.o-nas-img-1{
  width: 600px;
  box-shadow: 3px 0px 10px 15px #333333;
}





/* Блок 3 */
.block-3{
  background-color: #D4D4D4;
}

.garant-block{
  display: flex;
    flex-direction: row;
    align-items: center;
  padding: 30px 0px;
}

.garant-text{
  width: 70%;
  margin: 0px 179px;
}

.garant-img{
  width: 30%;
  display: flex;
    justify-content: center;
}

.text-works{
  display: flex;
  justify-content: center;
}

.garant-text-g{
  font-size: 30px;
}

.text-b{
  font-size: 40px;
}

.text-works-1{
  font-size: 50px;
}












/* Подвал */

.footer{
  background-color: #565656;
}

.block-footer{
width: 100%;
display: flex;
flex-direction: row;
justify-content: space-evenly;
}

.footer-block1{
width: 30%;
display: flex;
flex-direction: column;
padding: 10px 50px;
justify-content: space-evenly;
border-right: 1px solid #aaa;
}

.footer-block2{
width: 17.5%;
border-right: 1px solid #aaa;
}

.footer-block3{
width: 17.5%;
border-right: 1px solid #aaa;
}

.footer-social{
width: 17.5%;
}

.footer-text{
font-size: 20px;
color: #8B8B8B;
}

.footer-heading{
font-size: 35px;
color: #fff;
}

.footer-text-element{
font-size: 20px;
color: #8B8B8B;
}

.footer-social{
display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

p.footer-text-1{
  font-size: 35px; 
  color: white; 
  margin: 47px 0px -16px 0px;
}

p.footer-p{
  font-size: 20px;
    color: #8B8B8B;
}



/* Адаптация

/* Шапка */
@media (max-width: 1530px) {
  .logo{
    width: 25%;
  }
}

@media (max-width: 1270px) {
  .comp-menu{
    display: flex;
    flex-direction: column;
    height: 430px;
  }

  .logo{
    display: flex;
    justify-content: center;
  }

  .text{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
  }

  .social-header{
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 30%;
    justify-content: space-evenly;
    margin: 0px 0px 10px 0px;
  }

  .container .btn{
    font-size: 30px;
  }
}


@media (max-width: 826px) {
  .comp-menu{
    height: 760px;
  }

  .text{
    width: 20%;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .social-header{
    width: 40%;
  }

  .img-logo{
    width: 300px;
    height: 100px;
  }
}


@media (min-width: 830px) {
  header.mob-menu{
    display: none;
  }

 }


 @media (max-width: 830px) {
  .comp-menu{
    display: none;
  }

 }




/* Адаптация 1366px */
 @media (max-width: 1366px) {
   .o-nas-text{
     margin: 0px 0px 0px 0px;
   }

   .o-nas-img-1{
    width: 300px;
   }

   .zone-block{
     width: 25%;
   }

   .zone-text-1{
    font-size: 25px;
   }

   .zone{
    height: 600px;
   }
 }


/* Адаптация 1024px */


 @media (max-width: 1024px) {
  .o-nas-img-arm{
    width: 300px;
  }

  .o-nas-heading{
    font-size: 40px;
  }

  .o-nas-element{
    font-size: 20px;
  }

  .zone-text-1{
    font-size: 20px;
  }
 }

/* Адаптация 768px */

 @media (max-width: 768px) {
  .o-nas-img-1{
    width: 200px;
  }

  .zone-text-1{
    font-size: 15px;
  }

  .garant-text-g{
    font-size: 20px;
  }
  
  .text-b{
    font-size: 30px;
  }

  .garant-text{
    margin: 20px;
  }
 }

 /* Адаптация 390px */

 @media (max-width: 390px) {
  .zone{
    display: flex;
    flex-direction: column;
    height: 1200px;
    align-items: center;
    margin: 0px -236px;
  }

  .o-nas-img{
    display: none;
  }

  .o-nas-text{
    width: 100%;
    margin: 0px 30px;
  }

  .text-works-1{
    font-size: 40px;
  }
 }




















  /* Подвал */



  @media (max-width: 1366px) {
    .footer-text-1{
     display: none;
    }
    
    .social{
      display: flex;
      flex-direction: column;
    }
   } 
  
   @media (max-width: 1024px) {
    .footer-social{
      width: 15%;
    }
    
    .footer-block3{
      width: 18.5%;
    }
  
    .footer-block2{
      width: 18.5%;
    }
   } 
  
   @media (max-width: 768px) {
    .footer-block1{
      display: flex;
      justify-content: flex-start;
    }
  
    .logo-footer-img{
      width: 150px;
    }
  
    .footer-text{
      font-size: 15px;
    }
  
    p.footer-p{
      font-size: 15px;
    }
  
    .footer-heading{
      font-size: 20px;
    }
   }
  
   @media (max-width: 390px) {
    .footer-block1{
      display: none;
    }
    .footer-block2{
      width: 30%;
    }
  
    .footer-heading{
      font-size: 15px;
    }
  
    .footer-block3{
      width: 40%;
    }
    .zone{
        width: 100%
   }
